DATABASE_URL=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

GOOGLE_OAUTH_CREDENTIALS_PATH=
GOOGLE_DRIVE_DRUG_IMAGE_FOLDER_ID=
GOOGLE_DRIVE_DETECTION_IMAGE_FOLDER_ID=
GOOGLE_DRIVE_TOKEN_PATH=
GOOGLE_SERVICE_ACCOUNT_PATH=

INTERNAL_NOTIFY_API_KEY=

MEDICATION_VISION_API=
INFERENCE_API_KEY=